.btn:hover {
    background-color: #FBFBFB;
    border-color: #CCC;
    color: #333;
    box-shadow: 0px 1px 0px #FFF inset;
}

button {
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 18px;
    color: #555;
    text-align: center;
    text-shadow: none !important;
    vertical-align: middle;
    cursor: pointer;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #DDD;
    border-radius: 4px;
    box-shadow: none;
    white-space: nowrap;
}

.cause {
	margin-bottom: 20px;
}

label {
	color: #666;
	padding: 10px;
	display: block;
	text-align: center;
    vertical-align: middle;
    cursor: pointer;
	position:relative;
    background-image: none;
    box-shadow: none;
}

label.unselected {
	border: 1px solid #DDD;
	border-radius: 4px;
	color: #666;
	background: none;
}

label.selected {
	border: 1px solid #DDD;
	border-radius: 4px;
	color: #fff;
	background: #78A300;
}

label.first {
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

label.middle {
	border-top: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
}

label.last {
	border: 1px solid #DDD;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

label.unselected:hover {
    background-color: #FBFBFB;
    border-color: #CCC;
    box-shadow: 0px 1px 0px #FFF inset;
}


input[type=checkbox] {
	display: inline;
	position: absolute;
	left: 10px;
	margin-right: 10px;
    margin-bottom: 3px;
}

input[type=checkbox]:checked ~ .icon-chevron-left {
   display: inline;
}

.infos {
	position: relative;
	padding: 20px;
	width: 300px;
	height: 200px;
	border: 1px solid #ccc;
}

.content {
    width:100%;
}

.icon-refresh {
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.icon-chevron-left {
	display: none;
	color: #ccc;
	border-radius: 50%;
	position: absolute;
    right: 10px;
}

div.causes {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.underlings {
	display: none;
}